---
layout: default
title: About Ramiz Kongulov
description: About Ramiz Kongulov
image:
    path: /assets/images/me150x150.jpg
    width: 150
    height: 150
    alt: Ramiz Kongulov
about:
    skills: ['PHP','PHPUnit','OOP','SOLID','Design patterns','Laravel','REST','MySQL','PostgreSQL','ElasticSearch','Redis','AWS','Docker','Nginx','Composer','Git','Git-Flow']
    languages: [
        { text: 'Russian', 'progress': 5 },
        { text: 'English', 'progress': 2 },
        { text: 'Azerbaijani', 'progress': 5 },
        { text: 'Turkish', 'progress': 4 },
        { text: 'Georgian', 'progress': 3 },
    ]
    experience: [
        {
            icon: '<img src="/assets/images/clarip.jpg" alt="Clarip">',
            position: 'Senior PHP Developer',
            companyName: 'Clarip',
            date: 'Dec 2022 - Ongoing',
            location: 'Philadelphia, Pennsylvania, US',
            description: 'Enterprise privacy management software for CCPA, GDPR, ePrivacy and more. Clarip is the next generation SaaS data privacy platform that helps brands minimize privacy risks and engage customers better.'
        },
        {
            icon: '
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 60 60" class="bg-white">
                    <g transform="translate(0.000000,60.000000) scale(0.100000,-0.100000)">
                        <path xmlns="http://www.w3.org/2000/svg" d="M0 300 l0 -300 300 0 300 0 0 300 0 300 -300 0 -300 0 0 -300z m391 233 c16 -10 39 -37 51 -61 18 -39 19 -48 8 -85 -29 -98 -183 -170 -198 -93 -2 11 4 16 20 16 32 0 95 40 118 76 63 94 -35 134 -190 78 -97 -35 -134 -20 -68 28 76 54 203 74 259 41z m-149 -250 c-4 -157 -7 -190 -21 -200 -10 -8 -19 -8 -26 -2 -12 12 -13 195 -2 301 8 75 11 79 48 87 3 0 3 -83 1 -186z m216 -175 c-2 -23 -9 -34 -22 -36 -26 -5 -40 12 -32 42 5 19 13 26 32 26 22 0 25 -4 22 -32z" fill="#e61920"/>
                    </g>
                </svg>
            ',
            position: 'Senior PHP Developer',
            companyName: 'PrePay Electronic Payments',
            date: 'Aug 2021 - Dec 2022',
            location: 'Ramat-Gan, Israel',
            description: 'Developed a banking application backend based on microservice architecture. Using the application, users can open bank accounts, conduct transactions, pay bills, control payments, generate invoices, create and sign documents.'
        },
        {
            icon: '
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 97 97" class="bg-white">
                    <path xmlns="http://www.w3.org/2000/svg" d="M65.6-0.1L29.9,35.6l2.9,2.9l-7.2,7.2l-10-10L51.3,0H0v97.2h31.6l35.7-35.7l-2.9-2.9l7.2-7.2l10,10L45.9,97.1    h51.3V-0.1H65.6z M35.7,81.5L15.6,61.4l33-33l10,10l-7.2,7.2l-2.9-2.9L29.8,61.4l12.9,12.9L35.7,81.5z M48.6,68.6l-10-10l7.2-7.2    l2.9,2.9l18.6-18.7L54.4,22.7l7.2-7.2l20,20.1L48.6,68.6z" fill="#1E648E"/>
                </svg>
            ',
            position: 'Lead PHP Developer',
            companyName: 'BestComp Group',
            date: 'Sep 2019 - Aug 2021',
            location: 'Baku, Azerbaijan',
            description: 'My team and I have developed and updated the largest auto catalog and classifieds site in the car sector. (https://mashin.al/) "MashinAL" is one of the largest car bulletin boards in Azerbaijan. "MashinAL" has the largest catalog of cars. Here are the technical characteristics, modifications, generations, and other necessary and important data of cars.'
        },
        {
            icon: '
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 29.159 30.926">
                    <path d="M0,30.926H22.961a6.2,6.2,0,0,0,6.2-6.2V0H6.2A6.2,6.2,0,0,0,0,6.2Z" fill="#088A97"/>
                    <g transform="translate(2.484 14.705)">
                        <g transform="translate(13.446)">
                            <path d="M160.4,157.747a1.241,1.241,0,0,1-.762-.243.833.833,0,0,1-.326-.713A1.111,1.111,0,0,1,159.7,156l7.333-7.386h-7.179a.463.463,0,0,1-.449-.477l0-1.078h9.129a1.25,1.25,0,0,1,.755.243.827.827,0,0,1,.334.713,1.117,1.117,0,0,1-.394.794l-7.647,7.385h7.392a.465.465,0,0,1,.45.478v1.077Z" transform="translate(-159.312 -147.057)" fill="#fff"/>
                        </g>
                        <path d="M26.72,157.857l4.44-8.48,4.44,8.48h1.875L32.2,147.65a1.436,1.436,0,0,0-.412-.432,1.194,1.194,0,0,0-.625-.161h0a1.2,1.2,0,0,0-.627.161,1.436,1.436,0,0,0-.412.432l-5.275,10.207Z" transform="translate(-24.846 -147.057)" fill="#fff"/>
                    </g>
                </svg>
            ',
            position: 'Senior PHP Developer',
            companyName: 'InvestAZ Securities Inc',
            date: 'Jun 2014 - Mar 2019',
            location: 'Baku, Azerbaijan',
            description: 'Creation of new sites and projects for the company. Maintenance and adding new features to an existing site and project. Creation of CRM (Customer Relationship Management) companies'
        },
        {
            icon: '<img src="/assets/images/start.jpg" alt="Start Interactive Agency">',
            position: 'Middle PHP Developer',
            companyName: 'Start Interactive Agency',
            date: 'Apr 2012 - May 2014',
            location: 'Baku, Azerbaijan',
            description: 'Creation of new sites and projects. Maintenance and adding new functionality to the existing site and the project'
        }
    ]
---
<h2 class="mb-0 h1 page_title">ABOUT ME</h2>
<section id="about">
    <div class="about-header align-center">
        <img src="{{ site.url }}{{ page.image.path }}" alt="{{ page.image.alt }}">
        <div class="about-info">
            <h1 class="name">Ramiz Kongulov</h1>
            <div class="position">Senior PHP Developer</div>
            <div class="social d-flex">
                <a href="https://github.com/kongulov" target="_blank">
                    <svg width="32" height="32" viewBox="0 0 16 16" aria-hidden="true" data-view-component="true">
                        <path class="canHover" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                    </svg>
                </a>
                <a href="https://stackoverflow.com/users/8676838/ramiz-kongulov" target="_blank">
                    <svg viewBox="0 0 32 32" width="32" height="32">
                        <circle class="canHover" cx="16" cy="16" r="16"></circle>
                        <g fill="#F48024" transform="matrix(0.062497, 0, 0, 0.062497, 0, 0)">
                            <path d="m309.088 264.435-108.523-64.008 13.665-23.168 108.524 64.008zM300.262 297.77l-121.678-32.709 6.983-25.977 121.678 32.71zM297.406 333.832l-125.471-11.567 2.47-26.787 125.47 11.567zM170.2 341.4h126v26.9h-126z"></path>
                            <path d="M339.1 404.6s0 6.3-.2 6.3v.1H137.3s-6.3 0-6.3-.1h-.2V279.8h21.5v110h165.3v-110h21.5v124.8zM278.698 117.175l70.989 104.101-22.225 15.156-70.989-104.102zM359.664 91.017l21.546 124.148-26.505 4.6L333.16 95.617z"></path>
                        </g>
                    </svg>
                </a>
                <a href="https://t.me/kongulov" target="_blank">
                    <svg viewBox="0 0 32 32" width="32" height="32">
                        <circle class="canHover" cx="16" cy="16" r="16"></circle>
                        <path d="M 24.139 9.088 L 21.292 23.441 C 21.292 23.441 20.894 24.435 19.798 23.96 L 13.23 18.922 L 13.2 18.907 C 14.088 18.11 20.968 11.924 21.268 11.644 C 21.733 11.208 21.445 10.95 20.905 11.279 L 10.741 17.734 L 6.82 16.415 C 6.82 16.415 6.2 16.195 6.143 15.718 C 6.082 15.239 6.839 14.98 6.839 14.98 L 22.826 8.711 C 22.826 8.711 24.139 8.134 24.139 9.088 Z" fill="#23b7ec" fill-rule="nonzero" class="fill-fefefe fill-23b7ec"></path>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/kongulov" target="_blank">
                    <svg version="1.0" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                        <circle class="canHover" cx="16" cy="16" r="16"></circle>
                        <g fill="#007bb5" class="fill-ffffff">
                            <path d="M7 11h4v14H7zM20.499 11c-2.791 0-3.271 1.018-3.499 2v-2h-4v14h4v-8c0-1.297.703-2 2-2 1.266 0 2 .688 2 2v8h4v-7c0-4-.521-7-4.501-7z"></path>
                            <circle cx="9" cy="8" r="2"></circle>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="about-content">
        <div class="left">
            <div class="block-with-title">
                <div class="title">SUMMARY</div>
                <div class="content">
                    Inventive and innovative PHP developer able to work in a team.<br>
                    I am able to cope with any difficult tasks.<br>
                    Building websites using PHPbased frameworks, mostly Laravel or Phalcon.<br>
                    Testing and validating work produced as part of the development process.<br>
                    Ability to multitask, react quickly to shifting priorities, and meet deadlines.<br>
                    Continuously monitoring industry trends, technologies, and standards.<br>
                    Possessing all-around analysis and programming skills.<br>
                    Methodical yet creative & having a proven ability for efficient problem-solving.
                </div>
            </div>

            <div class="block-with-title">
                <div class="title">EXPERIENCE</div>
                <div class="content">
                    <div class="experiences">
                        {% assign expSize = page.about.experience | size | minus:1 %}

                        {% for i in (0..expSize) %}
                            {% assign exp = page.about.experience[i] %}
                            <div class="experience">
                                <div class="head">
                                    {{ exp.icon }}
                                    <div class="titles">
                                        <div class="position">{{ exp.position }}</div>
                                        <div class="companyName">{{ exp.companyName }}</div>
                                    </div>
                                </div>
                                <div class="date_location">
                                    <div class="date">
                                        <svg viewBox="203.401 170.345 10.8 12" width="10.8" height="12">
                                            <g fill="#eaeaea" fill-rule="evenodd" class="fill-000000" transform="matrix(0.6, 0, 0, 0.6, 203.400757, 170.345139)">
                                                <path d="M16 2h-1V0h-2v2H5V0H3v2H2C.9 2 0 2.9 0 4v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2Zm0 16H2V7h14v11Z"></path>
                                                <path d="M4 9h5v5H4z"></path>
                                            </g>
                                        </svg>
                                        {{ exp.date }}
                                    </div>
                                    <div class="location">
                                        <svg viewBox="109.046 23.993 7.457 12" width="7.457" height="12">
                                            <path d="M 112.774 23.993 C 110.715 23.993 109.046 25.672 109.046 27.743 C 109.046 31.325 112.774 35.993 112.774 35.993 C 112.774 35.993 116.503 31.325 116.503 27.743 C 116.503 25.672 114.834 23.993 112.774 23.993 Z M 112.774 29.562 C 111.799 29.562 111.012 28.768 111.012 27.79 C 111.012 26.812 111.803 26.015 112.774 26.015 C 113.749 26.015 114.537 26.809 114.537 27.79 C 114.537 28.768 113.749 29.562 112.774 29.562 Z" fill="#eaeaea" class="fill-000000"></path>
                                        </svg>
                                        {{ exp.location }}
                                    </div>
                                </div>
                                <div class="description">{{ exp.description }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="right">
            <div class="block-with-title">
                <div class="title">SKILLS</div>
                <div class="content">
                    <div class="skills">
                        {% for skill in page.about.skills %}
                            <span class="skill">{{ skill }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="block-with-title">
                <div class="title">EDUCATION</div>
                <div class="content">
                    <div class="experiences">
                        <div class="experience">
                            <div class="position">Software Engineering</div>
                            <div class="companyName">Baku Computer College</div>
                            <div class="date_location">
                                <div class="date">
                                    <svg viewBox="203.401 170.345 10.8 12" width="10.8" height="12">
                                        <g fill="#eaeaea" fill-rule="evenodd" class="fill-000000" transform="matrix(0.6, 0, 0, 0.6, 203.400757, 170.345139)">
                                            <path d="M16 2h-1V0h-2v2H5V0H3v2H2C.9 2 0 2.9 0 4v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2Zm0 16H2V7h14v11Z"></path>
                                            <path d="M4 9h5v5H4z"></path>
                                        </g>
                                    </svg>
                                    2010 - 2012
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-with-title">
                <div class="title">LANGUAGES</div>
                <div class="content">
                    <div class="languages">
                        {% assign langSize = page.about.languages | size | minus:1 %}

                        {% for i in (0..langSize) %}
                            {% assign lang = page.about.languages[i] %}
                            <div class="language">
                                <div class="text">{{ lang.text }}</div>
                                <div class="progress">
                                    <div>
                                        <span class="progress_{{ lang.progress }}">{{ lang.progress }}/5</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>