---
layout: default
---
<h1 class="mb-0">BLOG</h1>

<section class="posts post-list" id="Blog">
    {% for post in paginator.posts %}
        <article class="post">
            <h2 class="post-title">
                <a title="{{ post.title }}" href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </h2>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
            {{ post.excerpt }}
        </article>
    {% endfor %}
</section>

{% if paginator.total_pages > 1 %}
<div class="d-flex flex-center mt-10">
    <ul class="pagination">
        <li class="page-item previous {% if paginator.page == 1 %}disabled{% endif %}">
            <a href="{{ site.url }}" class="page-link">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3639 7.75735L16.9497 6.34314L11.2929 12L16.9497 17.6568L18.3639 16.2426L14.1213 12L18.3639 7.75735Z" fill="currentColor" /><path d="M11.2929 6.34314L12.7071 7.75735L8.46447 12L12.7071 16.2426L11.2929 17.6568L5.63605 12L11.2929 6.34314Z" fill="currentColor" /></svg>
            </a>
        </li>
        <li class="page-item previous {% if paginator.page == 1 %}disabled{% endif %}">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="page-link">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.2426 6.34317L14.8284 4.92896L7.75739 12L14.8285 19.0711L16.2427 17.6569L10.5858 12L16.2426 6.34317Z" fill="currentColor" /></svg>
            </a>
        </li>
        {% assign firstIf = paginator.page|plus:4 %}
        {% assign secondIf = paginator.total_pages|plus:2 %}
        {% if paginator.page > 5 and paginator.total_pages > 4 and paginator.total_pages > firstIf %}
        {% assign forOne = paginator.page|plus:8 %}
        {% for i in (paginator.page..forOne) %}
        {% assign page = i|minus:4 %}
        <li class="page-item {% if paginator.page == page %}active pe-none{% else %}next{% endif %}">
            <a class="page-link" href="{{ site.url }}/page/{{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
        {% elsif paginator.page > 5 and paginator.total_pages > 4 and paginator.total_pages < secondIf %}
        {% assign forNumber = paginator.total_pages|minus:7 %}
        {% if forNumber < 1 %}
        {% assign forNumber = 1 %}
        {% endif %}

        {% for i in (forNumber..paginator.total_pages) %}
        <li class="page-item {% if paginator.page == i %}active pe-none{% else %}next{% endif %}">
            <a class="page-link" href="{{ site.url }}/page/{{ i }}">{{ i }}</a>
        </li>
        {% endfor %}
        {% else %}
        {% if paginator.total_pages > 8 %}
        {% assign number = 9 %}
        {% else %}
        {% assign number = paginator.total_pages %}
        {% endif %}
        {% for i in (1..number) %}
        <li class="page-item {% if paginator.page == i %}active pe-none{% else %}next{% endif %}">
            <a
                    class="page-link"
                    href="{{ site.url }}{% if i != 1 %}/page/{{ i }}{% endif %}"
            >
                {{ i }}
            </a>
        </li>
        {% endfor %}
        {% endif %}

        <li class="page-item next {% if paginator.page == paginator.total_pages %}disabled{% endif %}">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="page-link">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z" fill="currentColor" /></svg>
            </a>
        </li>
        <li class="page-item next {% if paginator.page == paginator.total_pages %}disabled{% endif %}">
            <a href="{{ site.url }}/page/{{ paginator.total_pages }}" class="page-link">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.63605 7.75735L7.05026 6.34314L12.7071 12L7.05029 17.6568L5.63608 16.2426L9.87869 12L5.63605 7.75735Z" fill="currentColor" /><path d="M12.7071 6.34314L11.2929 7.75735L15.5356 12L11.2929 16.2426L12.7072 17.6568L18.364 12L12.7071 6.34314Z" fill="currentColor" /></svg>
            </a>
        </li>
    </ul>
</div>
{% endif %}


{% if paginator.total_pages > 1 %}
    {% if paginator.page_trail %}
        <div class="d-flex flex-center mt-10">
            <ul class="pagination">
                <li class="page-item previous {% if paginator.page == 1 %}disabled{% endif %}">
                    <a href="{{ site.url }}" class="page-link">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3639 7.75735L16.9497 6.34314L11.2929 12L16.9497 17.6568L18.3639 16.2426L14.1213 12L18.3639 7.75735Z" fill="currentColor" /><path d="M11.2929 6.34314L12.7071 7.75735L8.46447 12L12.7071 16.2426L11.2929 17.6568L5.63605 12L11.2929 6.34314Z" fill="currentColor" /></svg>
                    </a>
                </li>
                <li class="page-item previous {% if paginator.page == 1 %}disabled{% endif %}">
                    <a href="{{ paginator.previous_page_path | replace:'.html', '' }}" class="page-link">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.2426 6.34317L14.8284 4.92896L7.75739 12L14.8285 19.0711L16.2427 17.6569L10.5858 12L16.2426 6.34317Z" fill="currentColor" /></svg>
                    </a>
                </li>

                {% for trail in paginator.page_trail %}
                    <li class="page-item {% if page.url == trail.path %}active pe-none{% else %}next{% endif %}">
                        <a class="page-link" href="{{ site.url }}{% if trail.num != 1 %}/page/{{ trail.num }}{% endif %}" title="{{trail.title}}">{{ trail.num }}</a>
                    </li>
                {% endfor %}

                <li class="page-item next {% if paginator.page == paginator.total_pages %}disabled{% endif %}">
                    <a href="{{ paginator.next_page_path | replace:'.html', '' }}" class="page-link">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2427 12L10.5858 6.34317Z" fill="currentColor" /></svg>
                    </a>
                </li>
                <li class="page-item next {% if paginator.page == paginator.total_pages %}disabled{% endif %}">
                    <a href="{{ site.url }}/page/{{ paginator.total_pages }}" class="page-link">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.63605 7.75735L7.05026 6.34314L12.7071 12L7.05029 17.6568L5.63608 16.2426L9.87869 12L5.63605 7.75735Z" fill="currentColor" /><path d="M12.7071 6.34314L11.2929 7.75735L15.5356 12L11.2929 16.2426L12.7072 17.6568L18.364 12L12.7071 6.34314Z" fill="currentColor" /></svg>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endif %}