<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/syntax.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

    {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}" />
    {% endif %}
    {% seo %}

    <link rel="apple-touch-icon" sizes="180x180" href="/{{ site.url }}apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/site.webmanifest">

    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.url }}/atom.xml">
    <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ site.url }}/feed.json" />
    <link rel="sitemap" type="application/xml" title="sitemap" href="{{ site.url }}/sitemap.xml" />

    {% if site.googlewebfonts %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?{{ site.googlewebfonts }}&display=swap" rel="stylesheet">
    {% endif %}
</head>
