---
layout: default
---
<section class="post pt-0">
  <h1 class="mb-0">{{ page.title }}</h1>
  <div class="d-flex mb-1">
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
    {% assign tagsCount = page.tags | size %}
    {% if tagsCount > 0 %}
      <span class="separator">|</span>
      <span class="meta">
        Tags:
        {% for tag in page.tags %}
          <a href="{{ site.url }}/tag/{{tag}}">#{{tag}}</a>
        {% endfor %}
      </span>
    {% endif %}
  </div>
  {{ content }}
</section>

<section>
  <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
</section>

<section>
  <nav class="post-nav">
    {% if page.previous %}
    <a class="post-nav-item post-nav-prev" href="{{ page.previous | relative_url }}">
      <div class="nav-arrow">Previous</div>
      <span class="post-title">{{ page.previous.title }}</span>
    </a>
    {% endif %} {% if page.next %}
    <a class="post-nav-item post-nav-next" href="{{ page.next | relative_url }}">
      <div class="nav-arrow">Next</div>
      <span class="post-title">{{ page.next.title }}</span>
    </a>
    {% endif %}

  </nav>
</section>
